<li>
	<div class="col-10">
	{{name}}
	</div>
	<div class="col-2">
	<button class="snapped" data-id="{{id}}" data-alive="{{alive}}">
		{{#if alive}}*SNAP*{{else}}*SNAP*{{/if}}
	</button>
	</div>
</li>
